body {
  text-align: left;
  font: 13px verdana, arial, helvetica, sans-serif;

  color: #eee;
  background: #333;
}

/* -------- scrollbars -------- */

/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 12px;  /* Width of the scrollbar */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #2f3241;  /* Dark background color for the track */
  border-radius: 10px;
}

/* Style the scrollbar handle (thumb) */
::-webkit-scrollbar-thumb {
  background-color: #444;  /* Dark gray handle */
  border-radius: 10px;
  border: 2px solid #2f3241;  /* Match the track background for spacing */
}

/* Style the hover state of the scrollbar handle */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;  /* Lighter gray on hover */
}

/* Optional: Style the scrollbar corner when both vertical and horizontal scrollbars are present */
::-webkit-scrollbar-corner {
  background-color: #2f3241;  /* Same color as the track */
}

/* ----- colors ----- */

:root {
  --color-val1: #9e2800; 
  --color-val2: #FF794D; 
  --color-val3: #D68400; 
  --color-val4: #75A300; 
  --color-val5: #27824E; 
}

.val1 {
  background-color: #ff3128;
}

.val2 {
  background-color: #FFB399;
}

.val3 {
  background-color: #FFFAA0;
}

.val4 {
  background-color: #9AD600;
}

.val5, .val6 {
  background-color: #A3BFFE;
}

.summary.val0 a {
  color: lightgray;
}

.summary.val1 a {
  color: var(--color-val1);
}

.summary.val2 a {
  color: var(--color-val2);
}

.summary.val3 a {
  color: var(--color-val3);
}

.summary.val4 a {
  color: var(--color-val4);
}
  
.summary.val5 a, .summary.val6 a {
  color: var(--color-val5);
}

/*** other ***/

a {
  text-decoration:none;
  color: #60caff;
}

a:hover {
  text-decoration:underline;
  cursor: pointer;
}

.button {
  cursor: pointer;
}

.clear {
  clear: both;
}

.noSize {
	font-size: 0px;
}

.fa-refresh {
  cursor: pointer;
}

table {
  padding: 5px;
  width: 100%;
}

/* headings */

h1 {
  margin-top: 20px;
  text-align: left;
  letter-spacing: -5px;
  font-size: 4em;
  color: #e3e3e3;
}

h1 span {
  letter-spacing: -2px;
  font-size: 0.4em;
}

h1 small {
  font-size: 0.5em;
  letter-spacing: -1px;
}

h2 {
  color: #e3e3e3;
  margin: 30px 0;
}

h3 {
  margin-top: 10px;
  text-align: left;
  letter-spacing: -1px;
  font-size: 1.8em;
  color: #e3e3e3;
}

/* welcome */

.welcome {
  border: 1px solid #D1D1D1;
  background: white;
  padding: 5px;
  max-width: 1060px;
  margin: 50px 0 10px;
}

.dropbox {
  padding: 10px 20px 20px 20px;
}

.dropbox .intro {
  text-align: center;
}

/* about */

.about {
  font-size:        2.4em;
  text-align:       center;

  border:           3px solid #FF0004;
  background:       #BD0026;
  color:            white;

  margin:           30px 20px;
  padding:          10px 15px;

  clear:            both;
  border-radius:     10px;
  -webkit-border-radius: 10px;
}

.about em {
  font-weight: bold;
  font-size: 1.1em;
}

.about h1 {
  margin: 30px 10px;
  font-size:        2.5em;
  line-height:      70px;
  color: white;
  text-align: center;
  text-shadow: 0 2px 1px black;
}

.about .lead {
  margin: 30px 0 10px;
}

/* .preview */

.preview {
	margin: 30px 20px;
	background: #333;
    padding: 10px;
	color: black;
}

.preview img { 
  margin: 7px;
  float: left;
  width: 270px;
  border: 1px solid black;
}

.preview p {
  text-align: center;
  color: white;
}

/* .demo */

.demo {
	font-size: 2em;
	text-align: center;
}

/* faq */

.faq {
	width: 600px;
	text-align:   justify;
}

.faq h1 {
	letter-spacing: 0;
	font-size: 2em;
}

.faq p {
	font-size: 1.3em;
}

/* account */

#account {
  width: 80%;
  margin: 50px auto;
}

#signUp {
  float: left;
}

#signIn {
  float: right;
}

.box {
  border: 1px solid #222;
  box-shadow: #222 0px 5px 10px;
  background: #555;
  
  padding: 15px;
  margin-bottom: 40px;
  max-width: 1050px;
}

th {
  text-align: center;
}

#content
{
  margin: 0 auto;
  padding: 0 15px;

  max-width:1050px;
  text-align:left;
}

#content, #search, #addScoreBtn, .welcome, .footer {
  margin: 0 auto;
  max-width:1050px;
  min-width:400px;
}

.rank {
  background: #65cfff;
  color: #1a1a1a;
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: bolder;
}

#header .menu, #header .notice, #header .alert {
  padding: 10px;
}

/* footer */

#footer {
	margin-top: 	20px;
	font-size: 		1.0em;
	color: 				#333333;
}

#footer a {
	color: #333;
}


.notice, .alert {
  background: #555;
  margin-right: 20px;
  float: right;
}

#time {
  text-align: center;
  margin: 20px 0 10px;
}

.stats td {
  padding: 0 15px;
}

.value {
  text-align: center;
  vertical-align: top;
}

.ratioLeft {
  width: 15px;
  padding: 0 0 0 20px;
}

.ratioRight {
  width: 15px;
  padding: 0 20px 0 0;
}

.ratioBreak {
  width: 5px;
  padding: 0;
  margin: 0;
}

.spark {
  vertical-align: top;
}

.weekend {
  background: #EAEAEA;
}

.score .weekend {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.active {
  background: #E0E0E0;
}

.notes {
  color: #e3e3e3;
  vertical-align: top;
  text-align: justify;
  line-height: 1.3em;
  font-size: 1.1em;
}

.notes a {
  text-decoration:none;
  color: #60caff;
}

.notes a.person {
  color: #ff59a4;
}

.notes em {
  font-style: normal;
  font-weight: bold;
  color: #fa8266;
}

.description {
  font-size: 0.9em;
  color: #333;
  vertical-align: top;
}

.notes p {
  font-size: 0.95em;
  font-style: italic;
  color: #555;
}

tr .yearRow {
  background: #6A737D;
  padding: 2px 0px;
  text-align: center;
  font-size: 0.95em;
}

.month12 {
}

.month1 {
  border-bottom: #ddd 2px dashed;
  padding-bottom: 7px;
}

.current {
  font-size: 1.2em;
}

.prev {
  color: #333;
  font-style: italic;
}

/* month bar */

.monthBar {
  text-align: right;
  font-weight: bold;
  font-size: 1.2em;
  display: flex;
}

.monthBar a {
  border-radius: 6px;
  color: #aaaaaa;
  background: #555555;
  /* padding: 2px 6px; */
  width: 26px;
  margin: 2px 4px;
  height: 26px;
  text-align: center;
}

/* month scores */

.monthScores {
  min-width: 650px;
  position: relative; /* this is just so that containing div can be absolute */
  top: -10px;
}

.monthScores div {
  padding: 0;
  margin: 1px;

  position: absolute;
  -webkit-transition: left 1s ease-out;

  width: 15px;
  height: 15px;
}

.monthScores .selected div {
  border: 1px solid #aa0000;
}

.monthScores div.val1 {
  height: 30%;
  width: 30%;
  margin: 9px;
}

.monthScores div.val2 {
  height: 40%;
  width: 40%;
  margin: 7px;
}

.monthScores div.val3, .monthScores div.val0 {
  height: 60%;
  width: 60%;
  margin: 5px;
}

.monthScores div.val4 {
  height: 80%;
  width: 80%;
  margin: 3px;
}

.monthScores div.val5 {
}


/* score sorting */

#scoresorting {
  width: 20px;
  height: 20px;
  float: right;
  display: block;
  border-top: #ddd 5px solid;
  border-right: #ddd 5px solid;
}

#scoreSorting:hover {
  border-top: #aaa 5px solid;
  border-right: #aaa 5px solid;
}

/* details */

#details {
  border: 1px solid #aaa;
  border-top: 2px solid #d0d0d0;

  min-height: 80px;
  background: #e0e0e0;
  padding: 10px;

  text-align: justify;
  position: relative;

  -webkit-transition: top 0.5s ease-in-out;
}

#details h3 {
  margin-bottom: 10px;
  text-transform: uppercase;
}

#details .date, #details .day {
  display: block;
  float: left;
}

#details .date {
   min-width: 150px;
   margin-right: 20px;
}

#details .day {
   min-width: 200px;
}

#details .social, #details .job, #details .hobby, #details .summary {
  margin-right: 20px;
}

#detailsBar {
  text-align: right;
  margin: 0px 0px 15px;
  padding: 5px 10px;
  background: #444;
  color: #eee;
  border-radius: 5px;
}

#detailsBar a {
  color: #eee;
  font-style: italic;
}

/* details notes */

#notes {
  max-height: 200px;
  overflow: auto;
  padding-right: 10px;
}


/* .start */

.start {
  display: block;
  width: 100px;
  padding: 10px 20px;
  margin: 10px 30px;
  color: white;
  border-radius: 3px;
  font-size: 3em;
  cursor: pointer;
  border: 1px solid #CCC;
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-image: -webkit-linear-gradient(top, #62C462, #51A351);
  height: 60px;
}

/* add score */

#editScore {
  display: none;
  
  z-index: 5;
  position: absolute;
  top: 60px;
  left: 0;

  width: 100%;
  box-sizing: border-box;
  
  background-color: #333;
  
  margin: 0;
  resize: none;
  border: none;
  outline: none;
}

#editScore form {
  height: calc(100vh - 100px);
  background-color: #333;
  
  display: flex;
  align-items: center; /* Center vertically */
  outline: none; /* Optional: remove focus outline */
}

#editScore textarea {
  width: 70%;
  max-width: 1000px;
  height: 100%;

  background-color: #333;
  color: #ddd;
  font-size: 1.5em;
  
  resize: none; /* Prevent resizing */
  box-sizing: border-box;

  margin: 20px auto;
  padding: 60px;

  outline: none; /* Optional: remove focus outline */
  border: 0;
  box-shadow: none;

  line-height: 1.6;
}

#editScore progress {
  width: 100%;
  height: 6px;
  border-radius: 10px;
  background-color: #555;
}

#editScore progress::-webkit-progress-value {
  background-color: orange;
}

#editScore .editScoreProperties {
  position: fixed;
  bottom: 20px;
  display: flex;
  padding: 20px;
  opacity: 50%;
}

#editScore .editScoreProperties button {
  padding: 10px;
  height: 40px;
  
  border-radius: 4px;
  border: 1px solid #2c90fc;
  
  color: #7dbaff;
  background-color: #005580;
}

#editScore .editScoreProperties .valButton {
  width: 40px;
  font-weight: bold;
  text-align: center;
}

#editScore .editScoreProperties button {
  padding: 10px;
  margin: 4px;
}

#editScore .editScoreProperties .date {
  width: 300px;
  display: flex;
  flex-direction: row;
  padding: 8px;
}

#editScore .editScoreProperties .date .thisDay {
  flex-grow: 3;
}

#editScore .editScoreProperties .date .prevDay, #editScore .editScoreProperties .date .nextDay {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  display: inline-block;
  background-color: #0e90d2;
  color: white;
}

#editScore .val0 {
}

#editScore .val1 {
  color: #DB3700 !important;
  background-color: #ff3128 !important;
}

#editScore .val2 {
  color: #FF794D !important;
  background-color: #FFB399 !important;
}

#editScore .val3 {
  color: #D68400 !important;
  background-color: #FFFAA0 !important;
}

#editScore .val4 {
  color: #75A300 !important;
  background-color: #9AD600 !important;
}

#editScore .val5, #editScore .val6 {
  color: #27824E !important;
  background-color: #A3BFFE !important;
}

#editScore .editScoreProperties .submit {
  color: #d59392;
  background-color: #942a25 !important;
}

/* years bar */

.yearsBar {
  margin: 20px 0 10px 0;
  text-align: right;
  color: #777777;
}

.yearsBar a {
  border-radius: 4px;
  color: #eee;
  background: #444;
  padding: 4px;
}

.yearsBar a:hover {
  color: black;
  background: #ddd;
  text-decoration: none;
}

/* score table */

.empty {
  display: none;
}

.scores th {
  padding: 10px;
}

.scores td {
  vertical-align: top;
  padding: 12px;
}

.scores tr:nth-child(2n+1) {
  background: #444;
}

.scores tr:nth-child(2n) {
  background: #555;
}

.scores .date {
  padding-top: 5px;
  text-align: center;
  font-size: 1.1em;
  width: 100px;
}

.scores .date small {
   color: #ababab;
   font-size: 0.8em;
   display: block;
}

.scores .date a, .avgBar a {
  color: #e3e3e3;
}

.scores .date a:hover, .avgBar a:hover, .notes a:hover {
  background: #333;
  color: white;
  text-decoration: none;
}

.scores .val0, .scores .val1, .scores .val2, .scores .val3,
.scores .val4, .scores .val5, .scores .val6 {
  font-size: 23px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

/* plot */

.plot {
  border: 1px solid #ddd;
  margin: 10px 0;
  background: white;
  padding: 5px 10px;
  width: 1028px;
  height: 120px;
}

.plot div {
  float: left;
  margin: 0 5px;
  width: 20px;
}

.plot .tickLabels div {
  padding: 5px;
}

/* tags */

.tags {
  margin: 20px 0;
  text-align: justify;
  margin-bottom: 40px;
}

.tags span {
  color: #777;
}

.tags h3 {
  font-size: 1em;
  display: inline;
  padding: 2px;
}

.tags .help {
  text-align: center;
  color: #555;
  font-size: 2.0em;
  margin: 50px;
}

.tags th {
  padding: 15px;
  background: #444;
}

.tags a {
  font-size: calc(var(--weight) * 1em);
  display: block;
  padding: 0px 4px;
  margin: 3px;
  border-radius: 4px;
  color: white;
  background-color: #004565;
  text-decoration: none;
  position: relative;
  border: 1px solid rgb(0 0 0 / 43%);
  font-weight: bold;
}

.tags td {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 1.5rem;
}

.tags a:hover {
  background-color: black !important;
  color: white;
}


/* tag bar */

.tagBar {
  margin-top: 20px;
}

.tagBar h2 {
  float: left;
}

.tagBar div {
  float: right;
}

/* chains */

.chains {
  float: right;
  margin-top: 20px;
  text-align: right;
}

.chains span {
  font-size: 1.2em;

  padding: 2px 5px;
  color: white;
  background: #aaa;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* avg bar */

.avgBar {
  margin: 40px 0 20px;
  font-size: 1.4em;
  letter-spacing: -1px;
}

.avgBar div {
  display: inline;
}

.avgBar .more {
  float: right;
}

.avgBar .more div {
  margin-left: 20px;
  margin-right: 5px;
}

.avgBar .good {
  border-bottom: 3px solid green;
}

.avgBar .bad {
  border-bottom: 3px solid red;
}

/* tag metrics */

.tagMetrics {
  width: 100%;
  font-size:1.4em;
  margin: 0 0 50px;
  color: #444;
  border: 4px solid #CCC;
}

.tagMetrics td {
  text-align: center;
}


.mainBar {
  float: left;
  width: 800px;
}

.mainBar .box {
  width: 100%;
  margin-bottom: 20px;
}

/* side bar */

.sideBar {
  float: right;
  width: 200px;

  padding: 5px;
}

.sideBar div {
  font-size: 0.9em;
}

.sideBar span {
  float: left;
  display: block;
  width: 25px;
  text-align: right;
}

/* calendar */

.yearCal {
    padding-bottom: 20px;
}

.yearCal th {
  padding: 15px 5px;
  background: #444;
}

.yearCal tr .value {
  padding-top: 5px;
}

.yearCal td {
  border-spacing: 3px;
  border-radius: 16px;
}

.yearCal td:nth-child(1) {
  width: 10%;
}

.yearCal td:nth-child(2) {
  width: 5%;
}

.yearCal td:nth-child(n+3) {
  width: 20px;
  height: 20px;
}

.yearCal .summary, #calendar .prev, #details .value {
    padding: 2px;
    -webkit-border-radius: 3px;
}

.yearCal .val0 {
  background-color: #444;
}

.yearCal .weekday0 {
  scale: 0.9;
}
.yearCal .weekday1 {
  scale: 0.6;
}
.yearCal .weekday2 {
  scale: 0.6;
}
.yearCal .weekday3 {
  scale: 0.6;
}
.yearCal .weekday4 {
  scale: 0.6;
}
.yearCal .weekday5 {
  scale: 0.6;
}
.yearCal .weekday6 {
  scale: 0.9;
}

.yearCal .year {
  width: 50px;
}

.monthCal a {
  color: #cecece;
}

/* years cal */

.yearsCal {
  border: 1px solid #aaa;
  padding-bottom: 20px;
}

.yearsCal th {
  padding: 15px;
  background: #444;
}

.yearsCal td:nth-child(3){
  width: 100px;
}

.yearsCal td {
  height: 25px;
}

.yearsCal td div {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  margin: 0 auto;
}

.yearsCal td a {
  color: white;
}

/* bestDays */

table.bestEntries {
  margin: 40px 0;
}

table.bestEntries th {
  padding: 15px;
  background: #444;
}

table.bestEntries tr:nth-child(n+2) td {
  padding: 15px;
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
}

/* stats */

.stats {
	margin-right: 60px;
	float: left;
}

/* top area */

#topArea {
  -webkit-app-region: drag;
  position: sticky;  /* This makes the element sticky */
  top: 0;  /* Stick to the top of the window */
  z-index: 1000;  /* Ensure the title bar is above other content */

  height: 60px;
  background-color: #2f2f2f;
  padding: 0 10px;
}

#top-area-content {
  max-width:1050px;
  min-width:400px;
  margin: 0 auto;

  display: flex;  /* Enable Flexbox */
  justify-content: space-between;  /* Spread items out horizontally */
  align-items: center;  /* Vertically center the items */
}

#topArea #search {
  font-size: 2em;
  padding-top: 16px;
  width: 200px;
  justify-content: flex-start;
  flex-grow: 1;
}

#topArea #search input {
  -webkit-app-region: no-drag;
}

#menu {
  -webkit-app-region: no-drag;  /* Ensures buttons are clickable, not draggable */
  background: #f30000;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 20px;
}

#menu h1 {
  color: white;
  font-size: 1em;
  letter-spacing: 0;
  text-shadow: none;
  color: white;
  padding: 0 10px;
}

#menu h1 a {
  color: white;
}

.window-controls button {
  -webkit-app-region: no-drag;  /* Ensures buttons are clickable, not draggable */
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;

  background-color: #333;
  border: 1px solid white;
  color: white;
  border-radius: 4px;
}

/* top area done */

#loading {
  font-size: 3em;
  padding: 30px;
  margin-top: 200px;
  text-align: center;
  text-shadow: 0 2px 1px white
}

#startBtns {
  margin: 50px auto 20px;
  text-align: center;
}

.footer {
  text-align: right;
  color: #555;
}

/* years scores */

.years th {
  padding: 10px;
}

.years td {
  padding: 0;
  margin: 0;
}

.years .total {
  font-weight: bold;
  padding: 20px;
}

.years .scoreCube {
  height: 30px;
  margin: 0;
  padding: 0 5px;
  background-color: gray;
  color: #333;
}

.years .scoreCube span {
  padding: 5px 0;
  display: block;
}

/* streak */

#streak {
  margin: -20px 0 50px;
  font-size: 1.2em;
  display: flex;
}

#streak div span {
  color: #aaa;
}

#streak .comparison {
  text-align: right;
  flex-grow: 1;
  color: #eaeaea;
}

/* footer */

#footer {
  margin: 20px;
  color: dimgray;
}

#footer a {
  color: dimgray;
}

/* ai */

div#ai {
  border: 3px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  padding: 15px;
  margin-bottom: 40px;
  background-color: #444;
  font-size: 1.1em;
  font-style: italic;
}

/* From Uiverse.io by TimTrayler */
.switch {
  --secondary-container: #3a4b39;
  --primary: #84da89;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.7em;
  height: 1.8em;
}

.switch input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #504f4f;
  transition: .2s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.2em;
  bottom: 0.2em;
  background-color: #aeaaae;
  transition: .4s;
}

input:checked + .slider::before {
  background-color: var(--primary);
}

input:checked + .slider {
  background-color: var(--secondary-container);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--secondary-container);
}

input:checked + .slider:before {
  transform: translateX(1.9em);
}

